<label for="username">Username</label>
<input type="text" id="username" #username>
<label for="email">E-Mail</label>
<input type="text" id="email" #email>
<button (click)="onSubmit(username.value, email.value)">Submit</button>
<hr>
<button (click)="onGetData()">Get Data</button>
<ul>
  <li *ngFor="let item of items">{{item.author}}, {{item.title}} - {{item.notes}} </li>
</ul>
<hr>
<p>{{asyncString | async}}</p>
<hr>
<div>
  <form>
    <label for="author">Author</label>
    <input type="text" id="author" #author required>
    <label for="title">Title</label>
    <input type="text" id="title" #title>
    <br>
    <label for="notes">Notes</label>
    <textarea type="text" id="notes" rows="4" cols="50" #notes>
    </textarea>
  </form>
    <button (click)="submitForm(author.value, title.value, notes.value)">Submit Form</button>
</div>
<hr>
